# Ignore the build directory where the transpiled files are stored
/lib

# Ignore TypeScript declaration files
*.d.ts

# Ignore node_modules directory
node_modules

# Ignore compiled JavaScript files (if you have any manually compiled files in source)
*.js

# Ignore test output or coverage directories
/coverage

# Ignore .eslintcache file
.eslintcache

# Ignore package-lock.json or yarn.lock (if you don't want to format these)
package-lock.json
yarn.lock

# Ignore temporary or editor-related files
*.log
*.tmp
*.swp
.vscode
.idea

# Ignore markdown files
*.md
